:root{
    --red: rgb(190, 29, 45);
    --green: rgb(11, 147, 68);
    --red-pressed: rgb(119, 20, 30);
    --red-disabled: rgb(95, 57, 60);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.mobile{
    display:none;
}

.loader{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50px, -50px);
}

.loader img{
    width:100px;
    animation: spin 1s;
    animation-iteration-count: infinite;
}

.hidden{
    display: none;
}

.animate{
    animation: appear .5s;
}

a{
    text-decoration: none;
    color:white;
}

#logoBG{
    position: fixed;
    z-index: -1;
    height: 1000px;
    bottom:-400px;
    right: -300px;
    opacity: .1;
}

.green{
    color:var(--green)
}

.red{
    color:var(--red)
}
::-webkit-scrollbar {
    display: none;
}

.pfp{
    clip-path:circle();
    width: 30px;
}

#logoimg{
    width: 60px;
    height:60px;
}

.navbar{
    position: fixed;
    top:0;
    width:100%;
    background-color: #252525;
    z-index: 1;
    transition: all .3s;
}

.logo{
    margin-left: 10px;
    flex: 1;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    user-select: none;
    padding:0;
}

ul{
    margin: 0;
    padding:0;
    align-items: center;
    display: flex;
}

li{
    list-style-type: none;
    padding: 1rem;
}

.menus:hover{
    background-color: var(--green);
}

.menus > a{
    display: block ;
}

.container{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    gap: 30px;
}

caption{
    margin: 10px;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 600px;
    border-collapse: collapse;
    background-color: #252525;
    border-radius: 10px;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
}

th, td{
    text-align: left;
    padding: 10px;
}

td img{
    vertical-align: middle;
    overflow: hidden;
}

th{
    background-color: var(--red);
}

.first{
    border-top-left-radius: 10px;
}

.last{
    border-top-right-radius: 10px;
}
.center{
    text-align: center;
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}



@media screen and (max-width: 620px) {

    .menus{
        display: none;
        width:100%;
        text-align: center;
    }

    .icon{
        font-size: 1.7rem;
    }

    .mobile{
        display: block;
    }

    .navbar ul{
        flex-wrap: wrap;
    }

    h2{
        font-size: 1.4rem;
    }

    .mobileHide{
        display: none;
    }

    .lastMobile{
        border-top-right-radius: 10px;
    }

    #logoBG{
        position: fixed;
        z-index: -1;
        height: 600px;
        bottom:-200px;
        right: -200px;
        opacity: .1;
    }

    .active{
        display:block;
    }
}